body{
    background-color: rgb(150, 166, 180);
}

/* ------------------------ Card Design ------------------------  */
.todo-card{

}
.todo-title{

}
.todo-description{

}
.todo-due-color{
    display: flex;
    justify-content: space-between;
}
.todo-due{

}
.todo-color{

}